.login-form {
	margin: 100px auto 0;
	width: 300px;
	border: 1px solid #000;
	text-align: center;
}

.login-form h1 {
	margin: 5px 0;
}

.login-form input {
	display: block;
	margin: 0 auto 10px;
}

.login-form .error {
	margin: 0 0 10px;
	color: #f00;
}