h1, h2, h3 {
	text-align: center;
}

.container {
	display: flex;
}
.container a {
	color: #000;
}

#logout {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: url("/static/img/icons/logout.png") no-repeat center center;
    background-size: cover;
    opacity: .3;
    cursor: pointer;
}
#logout:hover {
    opacity: 1;
}

#home_link {
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 38px;
	height: 33px;
	border: 1px solid #000;
	border-radius: 3px;
	background: url("/static/img/icons/home.jpg") no-repeat center center;
	background-size: cover;
}

.add-button {
	text-align: center;
	width: 100%;
	height: 50px;
	border-top: 1px solid #000;
	position: absolute;
	bottom: 0;
	left: 0;
}

.middle-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
}
.middle-block > div {
	width: 100%;
	height: 100%;
}

.item .del {
    position: absolute; 
    top: 14px; 
    right: 5px;
    width: 30px;
    height: 36px;
    background: url("/static/img/icons/trash.jpg") no-repeat center center;
    background-size: cover;
    display: none;
}
.item:hover .del {display: block;}



.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.modal-form {
    display: inline-block;
    left: 50%;
    opacity: 1;
    position: fixed;
    width: 55%;
    max-height: 500px;
    overflow-y: hidden;
    text-align: justify;
    top: 45%;
    visibility: visible;
    z-index: 999999;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
}
.modal-form {
    width: 37% !important;
    margin: 0 auto;
    padding: 20px 40px;

}
.modal-form form {
    padding: 20px 0;
    transform: translateZ(1px) scale(1);
}
.modal-form .close_modal {
    position: absolute;
    padding: 0px 4px 0px 5px;
    top: 3px;
    right: 5px;
    cursor: pointer;
    color: #fff;
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    background: #000000;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

form .error {color: #f00;}
form .error input, form .error textarea {border-color: #f00;}
form .error p {margin: 5px 0 0;}