.login-form {
	margin: 100px auto 0;
	width: 300px;
	box-shadow: 1px 2px 8px -2px #333;
	text-align: center;
	border-radius: 10px;

	h1 {
		margin: 5px 0;
	}
	input {
		display: block;
		margin: 15px auto;
		border-top: none;
		border-left: none;
		border-right:none;
		border-bottom: 1px solid #333; 
	}
	.error {
		margin: 0 0 10px;
		color: #f00;
	}

	form {
		.submit {
			border: none;
			padding: 5px 15px;
			cursor: pointer;
		}
	}
}